* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sixing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Yeseva One', cursive;
}

p, a {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
}

.link {
  font-size: 11px;
  color: #E3B873;
}

button {
  font-family: Nunito Sans;
  font-style: italic;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.header {
  background: #131313;
}

.container {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 22px 0;
}

.header__logo {
  text-transform: uppercase;
}

.header__logo:hover {
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.header__menu {
  max-width: 573px;
}

.menu__list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31px;
}

.menu__list-item + .menu__list-item {
  margin-left: 54px;
}

.menu__list-link {
  font-size: 11px;
  color: #FFF;
}

.menu__list-link:hover {
  color: #E3B873;
  -webkit-transition: .6s;
  transition: .6s;
}

.header__phone {
  position: relative;
  left: 42px;
}

.header__phone:hover {
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.header__request-call {
  font-size: 11px;
  text-align: center;
  padding: 10px 32px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 2px solid transparent;
}

.header__request-call:hover {
  background-color: transparent;
  border: 2px solid #E3B873;
  -webkit-transition: 3s;
  transition: 3s;
}

.top__inner {
  padding: 191px 0 208px 0;
  background-image: url(../img/top/top-bg.jpg);
  background-repeat: no-repeat;
}

.top__container {
  margin-left: 134px;
}

.top__title {
  max-width: 519px;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 19px;
}

.highlight {
  color: #E3B873;
}

.top__text {
  max-width: 532px;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 19px;
}

.top__btn-cost {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  padding: 19px 42px 21px 41px;
  margin-right: 20px;
}

.top__btn-submit {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 19px 21px 21px 22px;
  background-color: transparent;
}
