.choice {
	background-image: url(../img/choice/choice-bg.jpg);
	background-repeat: no-repeat;
}
.choice__inner {
	display: flex;
	justify-content: space-between;
}
.choice__container {
	max-width: 1238px;
	margin: 0 auto;
}
.choice__text-content {
	max-width: 286px;
	padding-top: 137px;
	padding-bottom: 97px;
}
.choice__content-title {
	display: inline-block;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #e3b873;
	margin-bottom: 47px;
}
.choice__content-item {
	margin-bottom: 25px;
}
.choice__content-link {
	font-size: 20px;
}
.choice__content-img {
	max-width: 752px;
	display: flex;
	justify-content: space-between;
}
.choice__content-column1 {
	margin-top: -41px;
	margin-right: 43px;
}
.choice__content-img1 {
	margin-bottom: 39px;
}
.choice__content-column2 {
	margin-top: -113px;
}
.choice__content-img3 {
	margin-bottom: 37px;
}
