.choice {
}
.choice__inner {
	background-image: url(../img/choice/choice-bg.jpg);
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
}
.choice__container {
	max-width: 1238px;
	margin: 0 auto;
}
.choce__text-content {
	max-width: 286px;
}
.choice__content-title {
	display: inline-block;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #E3B873;
}
.choice__content-list {
}
.choice__content-item {
}
.choice__content-link {
}
.choice__content-img {
}
.choice__content-column1 {
}
.choice__content-img1 {
}
.choice__content-img2 {
}
.choice__content-column2 {
}
.choice__content-img3 {
}
.choice__content-img4 {
}
