.control {
	margin-top: -318px;
	padding-bottom: 148px;
}
.control__container {
	width: 817px;
	margin: 0 auto;
}
.control__title {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 19px;
}
.control__camera-icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 31px;
}
.control__works {
	margin-bottom: 62px;
}
.control__works-img {
}
.control__works-icon {
	position: absolute;
	top: 209%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.control__line-icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 31px;
	margin-bottom: 34px;
}
.control__text {
	max-width: 681px;
	margin: 0 auto;
	margin-bottom: 92px;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}
