.services {
}
.services__inner {
	background-image: url(../img/services/bg-services.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 352px;
}

.services__container {
	padding: 0 10px;
	max-width: 1115px;
	margin: 0 auto;
}
.services__request {
	display: flex;
	justify-content: space-between;
}
.services__point {
	margin-bottom: 115px;
}
// .services__point:nth-child(4) {
// }
.services__point-inner {
	max-width: 456px;
	padding: 117px 79px 54px 0;
}
.services__point-number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Yeseva One";
	font-size: 18px;
	color: #ffffff;
	width: 86px;
	height: 81px;
	background-image: url(../img/services/circle-services.svg);
	margin-right: 21px;
}

.services__point-text {
	font-family: "Nunito Sans";
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}

.services__request-form {
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	padding: 28px 49px 27px 49px;

}
.request__title-inner {
	max-width: 408px;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.request__title {
	font-family: Nunito Sans;
	font-size: 18px;
	color: #fff;
	display: block;
	max-width: 297px;
	text-align: center;
}
.reqest__block {
	margin-bottom: 48px;
}
.request__block:nth-child(3) {
	margin-bottom: 16px;
}
.request__text {
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 7px;
}
.request__input {
	font-size: 14px;
	color: #fff;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.15);
	background: none;
	width: 408px;
}

.request__block {
}
.request__form-label {
	display: block;
	margin-bottom: 39px;
	font-family: "Nunito Sans";
	font-size: 14px;
	color: #fff;
	padding-left: 1.2em;
}
.request__form-input {
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
}
.request__form-checkbox {
	position: absolute;
	width: 1em;
	height: 1em;
	border-radius: 1px;
	background-color: #e3b873;
	margin-left: -1.2em;
}
.request__form-input:checked+.request__form-checkbox {
	background-image: url(../img/control/check.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.request-btn {
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #e3b873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	padding: 19px 25px;
}
