.types__inner {
	padding-bottom: 124px;
}
.types__container {
	width: 1234px;
	margin: 0 auto;
	padding: 0 10px;
}
.types__title {
	color: #181818;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 19px;
}
.types__tools-icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 31px;
}
.types__projects {
	display: flex;
	justify-content: space-between;
}
.types__projects-img {
	z-index: 1;
}
.types__projects-description {
	margin-top: -128px;
	padding: 25px 68px 49px 34px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	z-index: 2;
	max-width: 330px;
	display: inline-block;
}
.types__projects-title {
	font-size: 18px;
	margin-bottom: 13px;
}
.typers__projects-item {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
	color: #959595;
	margin-bottom: 10px;
}
.types__projects-cost {
	display: inline-block;
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	padding: 17px 21px;
	margin-top: -26px;
}
.types__projects-cost-text {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}

.services {
	padding: 117px 79px 56px 239px;
	background-image: url(../img/types/bg-services.png);
	background-repeat: no-repeat;
}
.services__point {
	margin-bottom: 102px;

	
}
.services__point-number {
	padding: 13px 5px;
	display: block;
	background-image: url(../img/types/circle-services.svg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 42px;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	text-align: center;
	color: #fff;
	margin-right: 17px;

}
.services__point-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}